[submodule "AgriPlants"]
	path = lib/AgriPlants
	url = https://github.com/AgriCraft/AgriPlants
[submodule "lib/InfinityLib"]
	path = lib/InfinityLib
	url = https://github.com/InfinityRaider/InfinityLib.git