eclipse/
libs/
.nb-gradle
.gradle/
.git/
build/
out/
*.iml
*.ipr
*.iws
Schematic_to_Java*
schematics/
AgriCraft_Dependencies.rar
.idea/
logs/
bin/

.nb-gradle-properties
.classpath
.project
.settings/
dependencies.zip
*.bak