
# =============================================================================
# AgriCraft .gitignore
# =============================================================================

# -----------------------------------------------------------------------------
# IDE Ignores
# -----------------------------------------------------------------------------

# Eclipse
eclipse/

# JetBrains
.idea/

# Netbeans
.nb-gradle
.nb-gradle-properties
nbproject

# VSCode
.vscode
.classpath
.project
.settings

# -----------------------------------------------------------------------------
# Gradle Ignores
# -----------------------------------------------------------------------------

# Ignore Gradle Stuff
gradle.properties
.gradle/

# Ignore Build Files
build/
dist/
out/
logs/
bin/

# -----------------------------------------------------------------------------
# ForgeGradle Ignores
# -----------------------------------------------------------------------------

# Ignore Rundirs.
run/

# Ignore Generated Directories.
src/generated/

# -----------------------------------------------------------------------------
# AgriCraft Ignores
# -----------------------------------------------------------------------------

# Ignore Dependencies
libs/
AgriCraft_Dependencies.rar
dependencies.zip
*.bak

# -----------------------------------------------------------------------------
# General Ignores
# -----------------------------------------------------------------------------

# Ignore Git
.git/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac Junk
.DS_Store

# Unknown Ignores
*.iml
*.ipr
*.iws
Schematic_to_Java*
schematics/
