# Ignore Rundirs.
run/

# Ignore IDE Files.
eclipse/
.nb-gradle/
.idea/
.nb-gradle-properties
.classpath
.project
.settings/

# Ignore Gradle Stuff
gradle.properties
.gradle/

# Ignore Git
.git/

# Ignore Build Files
build/
dist/
out/
logs/
bin/

*.iml
*.ipr
*.iws
Schematic_to_Java*
schematics/

# Ignore Dependencies
libs/
AgriCraft_Dependencies.rar
dependencies.zip
*.bak